* {
    font-family: arial;
}

body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background: rgb(2, 79, 138);
    color: white;
    padding: 25px;
    padding-left: 35px;
    padding-right: 30px;
}

h1 {
    font-family: arial;
    font-size: 40px;
    margin: 0;
    flex: 10;
}

#subtitle {
    padding: 0;
    margin: 0;
}

#list {
    margin: 0;
    padding: 0;
}

.icon {
    /* margin: 10px; */
    padding: 5px;

}

img {
    height: 150px;
    width: 150px;
    margin: 15px;
    border: 2px solid white;
    display: flex;

}



.box {
    margin-right: 45px;
    border-bottom: 2px solid rgb(5, 77, 144);
    display: flex;
}

.head {
    margin-bottom: 0px;
    color: white;
    background: rgb(5, 77, 144);
    flex: 1;
    width: 270px;
    height: 30px;
    padding-left: 35px;
    padding-top: 15px;
}

#job-title1 {
    margin: 10px;
}

#job-title2 {
    margin: 10px;
}

.job {
    display: flex;
}

.title {
    padding-right: 5px;
    margin-right: 10px;
    text-align: right;
    flex: 1;
}

.company {
    padding: 0;
    margin-right: 0px;
    flex: 8;
    padding-right: 35px;
}



.skills {
    margin: 10px;
}

.learn {
    display: flex;

}

.collage {
    padding-right: 5px;
    margin-right: 10px;
    text-align: right;
    flex: 1.5;
}

.program {
    padding: 0;
    margin-right: 0px;
    flex: 10;
    padding-right: 35px;
    ;
}

#discuss {
    padding-left: 35px;
    padding-right: 35px;
}